<app-navbar></app-navbar>

<div class="container">
<h1 class="text-lg-center">Bienvenido Cliente a Turismo Real</h1>
<div class="col main pt-2 mt-1">
    <div class="row mb-3">
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card bg-success text-white h-100">
                <div class="card-body bg-success">
                    <div class="rotate">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">N° Clientes</h6>
                    <h1 class="display-4">5</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card text-white bg-danger h-100">
                <div class="card-body bg-danger">
                    <div class="rotate">
                        <i class="fas fa-dolly fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">N° Reservas</h6>
                    <h1 class="display-4">5</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card text-white bg-info h-100">
                <div class="card-body bg-info">
                    <div class="rotate">
                        <i class="fas fa-hand-holding-usd fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">N° departamentos</h6>
                    <h1 class="display-4">5</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card text-white bg-warning h-100">
                <div class="card-body">
                    <div class="rotate">
                        <i class="far fa-sticky-note fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">N° daprt. disponibles</h6>
                    <h1 class="display-4">5</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</div>