<!--this is navbar.component.html-->
<app-navbar></app-navbar>
<div class="container">
<div class="row" style="padding: 10px;">
    <div class="col-lg-6">
        <h3>Lista de Servicios</h3>
    </div>

</div>
<!-- ADD TASK FORM -->
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let servicio of listServicio">
                <td>{{servicio.id}} </td>
                <td>{{servicio.nombre}}</td>
                <td>{{servicio.descripcion}}</td>
                <td>{{servicio.precio}}</td>
                <td>
                    <button class="btn btn-success btm-sm float-left" >
                        CONTRATAR
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
</div>
