<!--this is navbar.component.html-->
<app-navbar></app-navbar>
<div class="container">
    <div class="row" style="padding-top: 10px;">
        <div class="col-lg-6">
            <h3>Departamentos</h3>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
    <br>
    <!-- ADD TASK FORM -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Ciudad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let depart of listDepart">
                    <td><a [routerLink]="['/ver-depart/', depart.id_depart]">{{depart.id_depart}}</a></td>
                    <td>{{depart.precio}}</td>
                    <td>{{depart.estado}}</td>
                    <td>{{depart.ciudad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>