<!--this is navbar.component.html-->
<app-navbar></app-navbar>
<div class="container">
    <div class="row" style="padding-top: 10px;">
        <div class="col-lg-6">
            <h3>Departamentos</h3>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
    <br>
    <!-- ADD TASK FORM -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Descripcion</th>
                    <th>Ciudad</th>

                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let depart of listDepart">
                    <td>{{depart.id}}</td>
                    <td>{{depart.precio | currency: '$'}}</td>
                    <td>{{depart.estado}}</td>
                    <td>{{depart.descripcion}}</td>
                    <td>{{depart.ciudad}}</td>
                    
                    <td>
                        <button class="btn btn-success btm-sm float-left"
                        [routerLink]="['/contratar-depart']">
                            RESERVAR
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>